* {
  padding: 0;
  margin: 0;
  caret-color: transparent;
}

body {
  overflow: hidden scroll;
}

html {
  font-size: 10px;
  font-family: "Poppins", sans-serif;
}

/*NAVIGATION*/
header {
  display: flex;
  justify-content: space-evenly;
}

nav {
  margin-left: -20rem;
}

.logo {
  width: 11rem;
  margin-top: -2rem;
  margin-left: -20rem;
}

.nav-list {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}

.browse-list {
  font-size: 1.5rem;
  list-style: none;
  cursor: pointer;
}

.browse-list:hover {
  color: rgb(24, 24, 207);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:hover .dd-list {
  display: block;
}

.dd-list {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 3rem;
  border-top: 0.5px solid black;

  margin-left: -8rem;
}

.dd-list::after {
  padding: 0;
  margin: 0;
  content: "";
  width: 60%;
  height: 10px;
  background-color: white;
  position: absolute;
  right: 0;
  top: -2px;
}

.dd-list ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
  list-style: none;
  text-decoration: none;
  font-size: 1.3rem;
}

.dd-list ul li a {
  color: black;
  list-style: none;
  text-decoration: none;
}

.icon-div {
  display: flex;
  gap: 3rem;
  margin-top: 2rem;
  margin-left: -20rem;
}

.icon {
  cursor: pointer;
  font-size: 2rem;
}

.splitter {
  border: 0.1px solid rgb(235, 233, 233);
  margin-bottom: 2rem;
  opacity: 0.5px;
}

/*ITEM LIST*/

.brand-list {
  display: flex;
  margin-top: 1rem;
  justify-content: space-evenly;
}

.item-list {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(211, 209, 209);
  padding: 0.8rem;
  border-radius: 999rem;
  font-size: 1.15rem;
  width: 9.5rem;

  cursor: pointer;
}

.item-list:first-child {
  border: 3px solid;
  border-color: rgb(0, 0, 173);
  color: rgb(2, 2, 173);
}

.item-list:hover {
  box-shadow: 1px 2px 9px grey;
}

.item-list:first-child:hover {
  border: 3px solid transparent;
  color: black;
}

.or {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 1.1rem;
}

/*MAIN SECTION*/

.main-section {
  margin-top: 3rem;

  background: radial-gradient(
    circle,
    rgb(233, 232, 232) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  height: 100rem;
  border-top: 1px solid rgb(201, 201, 201);
}

.shoe-img {
  margin-left: 40rem;
  margin-top: 10rem;
  width: 65rem;
}

.btn {
  position: relative;
  margin-top: -30rem;
}

.btn-shop {
  padding: 0.5rem;
  width: 16rem;
  height: 5rem;
  text-align: center;
  position: absolute;
  font-size: 1.7rem;
  top: 2rem;
  left: 130rem;
  background-color: black;
  color: white;
  cursor: pointer;
}

.text {
  position: relative;
}

.restock {
  position: absolute;
  left: 128rem;
  bottom: 2rem;
  font-size: 3rem;
  letter-spacing: 0.5rem;
  margin-bottom: 0.8rem;
}

.restock-txt {
  position: absolute;
  left: 123rem;
  bottom: 0.1rem;
  color: grey;
}

.arrows {
  display: flex;
  gap: 25px;
  margin-top: 2rem;
  margin-left: 45rem;
}

.numbers {
  display: flex;
  justify-content: center;
  font-size: 5rem;
  margin-left: -35rem;
}

.arrow-left {
  font-size: 3rem;
}

.arrow-right {
  font-size: 3rem;
}

.number-one {
  font-weight: bold;
  font-size: 2.5rem;
}

.slash {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.number-two {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.most-popular {
  position: relative;
}

.mp {
  position: absolute;
  top: 38rem;
  margin-left: 43rem;
  font-size: 1.5rem;
  letter-spacing: 0.4rem;
  font-weight: bold;
}

.line {
  position: relative;
}

hr {
  position: absolute;
  margin-left: 46rem;
  width: 27rem;
  bottom: -33rem;
  border: 0.1rem solid transparent;
}

.mp-div {
  display: flex;
  margin-top: 40rem;
  margin-left: 18rem;
  gap: 5rem;
  justify-content: center;
}

.mp-img {
  width: 25rem;
  cursor: pointer;
}

.mp-img-txt {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15rem;
  padding-left: 15rem;
  font-size: 1.15rem;
  cursor: pointer;
}

.two-tone-price {
  position: absolute;
  left: 71rem;

  font-weight: bold;
  font-size: 1.3rem;
}

.linen-mid-price {
  position: absolute;
  left: 133rem;

  font-weight: bold;
  font-size: 1.3rem;
}

.diamond-mid-price {
  position: absolute;
  left: 102rem;

  font-weight: bold;
  font-size: 1.3rem;
}

.yeezy-pure-price {
  position: absolute;
  left: 155rem;
  bottom: -6rem;
  font-weight: bold;
  font-size: 1.3rem;
}

.mp-text.pure {
  padding-left: 5rem;
}

.mp-img-txt p:last-child {
  padding-left: 8rem;
}

.footer-line-div {
  width: 115rem;
  border: 0.05px solid rgb(243, 243, 243);
  margin-left: 35rem;
  margin-top: 3rem;
}

/*FOOTER*/

footer {
  margin-top: 3rem;
  padding: 30rem;
  background-color: black;
}

h2 {
  color: white;
  font-size: 2.3rem;
}

.newsletter {
  margin-top: -20rem;
}

.newsletter-txt {
  color: white;
  margin-top: 0.5rem;
  font-size: 1.5rem;
}

.placeholder {
  position: relative;
}

.placeholder-txt {
  position: absolute;
  /* border-bottom: 1px solid white; */
  margin-top: 6rem;
  width: 37.8%;
}

.search-txt {
  margin-bottom: 1rem;
  color: white;
  background-color: transparent;
  border: transparent;
  font-size: 1.5rem;
  outline: transparent;
  caret-color: white;
}

.Im-in {
  position: absolute;
  bottom: 0.05rem;
  border: 1px solid white;
  border-bottom: none;
  color: black;
  height: 3rem;
  padding: 0.5rem;
  width: 8rem;
  margin-left: 75rem;
  background-color: transparent;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.square-txt {
  margin-top: 0.6rem;
  margin-left: 0.5em;
  letter-spacing: 0.4rem;
  border: none;
  background-color: black;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.footer-icon-div {
  display: flex;
  gap: 3rem;
}

.footer-icon {
  font-size: 4rem;
  color: white;
  margin-top: 14rem;
  cursor: pointer;
}

.fl-line {
  position: relative;
  margin-top: -25rem;
  margin-left: -47rem;
}

.fl {
  position: absolute;
  width: 110rem;
  background-color: rgb(112, 112, 112);
}

.footer-browse {
  display: flex;
  margin-left: 80rem;
  gap: 10rem;
  font-size: 1.5rem;
  white-space: nowrap;
}

.footer-browse p {
  margin-bottom: 1rem;
  cursor: pointer;
}

.brands-footer {
  color: white;
}

.company-footer {
  color: white;
}

.contact-footer {
  color: white;
}

.footer-browse p:first-child {
  margin-bottom: 1.5rem;
}

/*MEDIA QUERIES*/
/* 
/*Large Screens*/
@media (min-width: 1900px) and (max-width: 2000px) {
  .main-section {
    width: 200rem;
  }

  .Im-in {
    margin-left: 38.4rem !important;
  }
}

/*Most Laptops*/

@media (max-width: 1900px) {
  * {
    max-width: 180rem !important;
  }

  .two-tone-price,
  .diamond-mid-price,
  .linen-mid-price,
  .yeezy-pure-price {
    display: none;
  }

  .main-section {
    margin-left: -10rem;
    width: 150rem;
    border-top: 1px solid rgb(201, 201, 201);
    width: 200rem;
  }

  header {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
  }

  nav {
    display: flex;
    justify-content: center;
    margin-left: -20rem;
  }

  .logo {
    margin-left: 12rem;
  }

  .splitter {
    width: 150rem;
    overflow: hidden;
  }

  .brand-list {
    display: flex;
    justify-content: space-evenly;
    gap: 5rem;
    margin-left: 4rem;
  }

  .or {
    margin-left: -3rem;
  }

  .item-list {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(211, 209, 209);
    padding: 1rem;
    border-radius: 999rem;
    font-size: 0.8rem;
    width: 10rem;
    margin-left: -3rem;
    white-space: nowrap;

    cursor: pointer;
  }

  .icon-div {
    margin-right: 10rem;
  }

  .mp-div {
    display: flex;
  }

  .most-popular {
    margin-left: -5rem;
  }

  .mp-img-txt {
    display: flex;
    justify-content: center;
  }
}

.splitter {
  width: 100%;
}

.two-tone-price,
.diamond-mid-price,
.linen-mid-price,
.yeezy-pure-price {
  margin-bottom: -10rem;
  margin-left: -10rem;
}

footer {
  margin-top: 5rem;
  padding: 25rem;
  background-color: black;
  width: 100%;
  margin-left: -15rem;
  font-size: 0.5rem;
}

.Im-in {
  position: absolute;
  bottom: 0.05rem;
  border: 1px solid white;
  color: black;
  height: 3rem;
  padding: 0.5rem;
  width: 8rem;
  margin-left: 28rem;
  background-color: transparent;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border-bottom: none;
}

.placeholder-txt {
  position: absolute;
  border-bottom: 1px solid white;
  margin-top: 6rem;
  width: 25%;
}

.search-txt {
  width: 50%;
  overflow: hidden;
}

.fl-line {
  position: relative;
  margin-top: -25rem;
  margin-left: -45rem;
}

.fl {
  position: absolute;
  width: 120rem;
  background-color: rgb(112, 112, 112);
}

.footer-browse {
  display: flex;
  margin-left: 70rem;
  gap: 10rem;
  font-size: 1.5rem;
  white-space: nowrap;
}

.footer-browse p {
  margin-bottom: 1rem;
  cursor: pointer;
}

.mp-div {
  display: flex;
  margin-left: 15rem;
}

/*TABLETS*/

@media only screen and (min-device-width: 850px ) {
  header {
    margin-left: -5rem;
    margin-top: 2rem;
  }

  nav {
    display: none;
  }

  .brand-list {
    display: flex;
    margin-top: 1rem;
  }

  .item-list {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(211, 209, 209);
    padding: 1.3rem;
    border-radius: 999rem;
    font-size: 0.9rem;
    width: 5.7rem;

    cursor: pointer;
  }

  .item-list:nth-child(10),
  .item-list:nth-child(11),
  .item-list:nth-child(12),
  .item-list:nth-child(13),
  .item-list:nth-child(14),
  .item-list:nth-child(15) {
    display: none;
  }

  body {
    overflow: hidden scroll;
    background-attachment: scroll;
  }

  .main-section {
    margin-left: -40rem;
    width: 135rem;
    height: 70rem;
    overflow-x: hidden;
  }

  .shoe-img {
    width: 40rem;
  }

  .text {
    margin-left: -50rem;
    margin-top: 5rem;
    font-size: 0.7rem;
  }

  .restock {
    font-size: 2rem;
    margin-left: 0.9rem;
  }

  .btn-shop {
    margin-top: 9rem;
    margin-left: -48rem;
    width: 13rem;
    white-space: nowrap;
  }

  .most-popular {
    margin-left: 5rem;
  }

  .mp {
    margin-top: -5rem;
  }

  .mp-img {
    width: 15rem;
    image-rendering: auto;
  }

  .mp-div {
    display: flex;
    margin-left: 30rem;
  }

  .mp-img:nth-child(4) {
    margin-right: 3rem;
  }

  .mp-text {
    display: flex;
    margin-right: -11.5rem;
  }

  .mg-img-txt {
    display: flex;
    margin-left: -90rem;
    position: relative;
  }

  .splitter {
    width: 95rem;
  }

  footer {
    margin-top: 5rem;
    padding: 20rem 25rem 30rem 30rem;
    background-color: black;
    width: 60rem;
    margin-left: -10rem;
    font-size: 0.5rem;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
  }

  .newsletter {
    position: absolute;
    margin-left: -15rem;
    bottom: 85rem;
  }

  .newsletter h2 {
    font-size: 1.5rem;
  }

  .newsletter-txt {
    font-size: 1rem;
  }

  .placeholder {
    left: -15rem;
  }

  .footer-line-div {
    width: 40rem;
  }

  .footer-browse {
    display: flex;
    margin-top: 40rem;

    justify-content: center;
    align-items: center;
    margin-left: -5rem;
    gap: 20rem;
    font-size: 1.2rem;
  }

  .footer-icon-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15rem;
  }

  .footer-icon {
    margin-bottom: -30rem;
  }

  .contact-footer {
    margin-top: -13rem;
  }

  .placeholder {
    display: flex;

    margin-left: 45rem;
    margin-top: -12rem;
    color: white;
  }

  .placeholder-txt {
    position: absolute;
    border-bottom: 1px solid white;
    margin-top: -1rem;
    width: 40rem;
  }

  .Im-in {
    bottom: -4.8rem;
    left: 0.7rem;
    border-bottom: none;
    margin-left: 30rem;
    margin-bottom: 5rem;
  }

  .search-txt {
    width: 30rem;
    font-size: 2rem;
  }

  input {
    margin-top: -90rem;
  }

  .fl-line {
    display: none;
  }
}

@media (orientation: landscape) and (min-width: 820px) and (max-width: 1180px) {
  nav {
    display: none;
  }
  footer {
    width:150rem;
  }

  .splitter {
    width: 140rem;
  }
  .main-section {
    display: none;
  }
}
